@page "/{QNumber:int}"
@inject NavigationManager NavigationManager
 <div    class="container">  
     
@if (QNumber > 79 || QNumber < 1)
{
         <h1>Error 404 Page not Found :( </h1>
 }
else
{
    
 <div class="container" style="   width:300%; height:22%;">
    
 
                   <font size="5"> Qeustion @QNumber of 79
        </font>
           
                     @if(QNumber == 1){
                    <button class="arrow2 ">&larr;</button>
                   }
                   else{
                                       <button class="arrow2 "@onclick='()=>NavigateToComponent($"{(QNumber - 1) % 80}")'>
                                   &larr;
                               </button>

                   }
                    @if (QNumber == 79){
                <button class="arrow2 ">&rarr;</button>
               }
                else{
                                <button class="arrow2 " @onclick='()=>NavigateToComponent($"{(QNumber + 1) % 80}")'>&rarr;</button>

                }
 
           
          <span  style="margin-top:50px; margin-left:50px;">
   @if (  ExamMTA.MarkForReviewList[ExamMTA.MarkForReviewList.FindIndex(x => x.Num == QNumber)].IsMarked)
 {
    <input type="checkbox" id="cbmark" checked @onchange="@( (ChangeEventArgs e) => Marker(e))" />
 }
 else
 {
     <input type="checkbox"  id="cbmark"  @onchange="@( ( ChangeEventArgs e) => 
              Marker(e))" />
 }
                <label class="label" for="cbmark"  >  Mark For Review</label> 
                         <input type="checkbox" id="cbshow1" @bind="ExamMTA.allowShowAnswer" />
                <label class="label" for="cbshow1">   Show Answer</label>
      </span>
            <span  style="margin-top:50px; margin-left:50px;">
                <button class="btnsubmit" @onclick='()=>NavigateToComponent($"Score")'>End Exam</button>
                  <br/>
            </span>
        
             <br/>
          </div>
 

@*    <h3>@($"Question {Qeustion.ID}:-")</h3>*@
	<p > @Qeustion.Value </p> 
    <br />
    @if (Qeustion.Type == ControlType.RadioButton)
    {
        foreach (var item in Qeustion.Answers)
        {
            <input  type="radio"  id="@item.ID" value="@item.Value" @onchange="RadioSelection" 
        checked=@(RadioValue.Equals(item.Value,StringComparison.OrdinalIgnoreCase))   />
        <label class="fix" for="@item.ID">	<p>@item.Value </p> </label>
            <br />
        }
    }
    else if(Qeustion.Type == ControlType.CheackBox)
    {
        foreach (var item in Qeustion.Answers)
        {
                     <input type="checkbox" id="@item.ID"  
                   value="@item.IsSelected" @onchange="@((ChangeEventArgs __e) => CheckSelection(__e,item))" />
            <label class="fix"   for="@item.ID">	<p>@item.Value </p> </label>
            <br />
        }
    }
    @if(ExamMTA.allowShowAnswer)
    @if(showAnswer){
    @if (CorrectAnswer)
    {
        <h1>CORRECT</h1>
    }
    else
    {
        <h1>WRONG</h1>
    }
    }
    }

 
    
    
</div>
@code {
    [Parameter] public int QNumber { get; set; }
 
    public bool showAnswer = false;
    string RadioValue = "";
    public bool CorrectAnswer = false;
    public Exam Qeustion => ExamMTA.Exams98_361[(QNumber - 1) % 79];

    private void NavigateToComponent(string Report)
    {

        (showAnswer, CorrectAnswer) = (false, false);
        this.StateHasChanged();
        NavigationManager.NavigateTo(Report);

    }
    protected override void OnInitialized(){
        
        if (ExamMTA.ShuffleQeustion) {
            ExamMTA.shuffleQeustions();
        }
    else {
            ExamMTA.SortQeustion();
        }
        if (ExamMTA.ShuffleAnswer) {
            ExamMTA.shuffleAnswers();
        }
    else {
            ExamMTA.SortAnswer();
        }
    }
    void Marker(ChangeEventArgs args)
    {
          ExamMTA.MarkForReviewList[ExamMTA.MarkForReviewList.FindIndex(x => x.Num == QNumber)] = new(QNumber,(bool)args.Value);
    }

   //void RadioSelection(ChangeEventArgs args) => (showAnswer, RadioValue, CorrectAnswer,
   // ExamMTA.scores98_361[(QNumber - 1) % 79])  = (true,args.Value.ToString(),
   // (from item in Qeustion.Answers where item.Value == RadioValue select item.IsCorrect).FirstOrDefault<bool>(),
   // new ((QNumber - 1) % 78,CorrectAnswer));
     void RadioSelection(ChangeEventArgs args)
    {
        showAnswer = true;
        RadioValue = args.Value.ToString();
        CorrectAnswer = (from item in Qeustion.Answers where item.Value == RadioValue select item.IsCorrect).FirstOrDefault<bool>();
        ExamMTA.scores98_361[(QNumber - 1) % 79] = new ((QNumber - 1) % 78,CorrectAnswer);
    }
    void CheckSelection(ChangeEventArgs __e, Answer I)
    {
         showAnswer = true;
        Qeustion.Answers[Qeustion.Answers.FindIndex(x=> x.ID == I.ID)]= new(I.ID,I.Value,I.IsCorrect,(bool)__e.Value);    
   //  (showAnswer, Qeustion.Answers[Qeustion.Answers.FindIndex(x => x.ID == I.ID)]) = (true, new(I.ID, I.Value, I.IsCorrect, (bool)__e.Value));
         var CorrectAnswersCount = (from item in Qeustion.Answers where item.IsCorrect == true select item).ToList().Count();
        var SelectsAnswers = (from item in Qeustion.Answers where item.IsSelected == true select item).ToList();
        foreach (var item in SelectsAnswers)
        {
            if (!item.IsCorrect)
            {
                CorrectAnswer = false;
                break;
            }
            CorrectAnswer = true;
        }
        if (SelectsAnswers.Count != CorrectAnswersCount)
        {
            CorrectAnswer = false;
        }
        ExamMTA.scores98_361[(QNumber - 1) % 79] = new ((QNumber - 1) % 79,CorrectAnswer);
            }
                        }