@page "/Review"
@inject NavigationManager NavigationManager
@code{ private void NavigateToComponent(string Report)
    {
        NavigationManager.NavigateTo(Report);
    }}
<p style="text-align: center;color: #000;font-weight: bold;margin: 10px;">
    <span class="spntbl">Not answered @ExamMTA.Exams98_361.Count(x => x.Answers.Count(i => i.IsSelected == true) == 0) <span style="color: #ddd;">|</span></span>
    <span class="spntbl">Marked @ExamMTA.MarkForReviewList.Count(x => x.IsMarked) <span style="color: #ddd;">|</span></span>
    <span class="spntbl">Count  @ExamMTA.Exams98_361.Count() &nbsp;</span>
    <button class="btnend" @onclick='()=>NavigateToComponent("Score")'>End</button>
</p>
<div class="table-box">
    <table cellspacing='0' class="tbl">
        <thead class="theadtbl">
            <tr class="trheadtbl">
                <th class="thtitle">ID</th>
                <th class="thtitle">Marked</th>
                <th class="thtitle">Not Answerd</th>
                <th class="thtitle">Go to Qestion</th>
            </tr>
        </thead>
        <tbody class="tbodytbl">
            @foreach (var i in ExamMTA.MarkForReviewList)
            {
<tr class="trbodytbl">
    <td class="tddata">@i.Num</td>
    @if (i.IsMarked)
    {
<td class="tddata mark"></td>
 }
else
{
<td class="tddata "></td>
}
    @if (ExamMTA.Exams98_361[i.Num - 1].Answers.Count(x => x.IsSelected) == 0)
    {
<td class="tddata answer"></td>
 }
else
{
<td class="tddata"></td>
}
    <td class="tddata"><button class="btndone" @onclick='()=>NavigateToComponent($"{i.Num}")'>@i.Num</button></td>
</tr>
}
        </tbody>
    </table>
</div>
<!-- Scroll  -->
@*<button class="gotopbtn" href="#" @onclick='()=>NavigateToComponent("Review")'><span class="fas fa-arrow-up">↑</span></button>*@
