@page "/Download"
@inject ExamMTA ExamMTA;
 <button class="btnsubmit" @onclick='Print'>Print</button>
<button class="btnsubmit" @onclick='()=>NavigateToComponent("Score")'>back</button>
 @foreach(var Qeustion in ExamMTA.CurrentExam ){
     <div> <h2 style="padding:20px">Qeustion Number @Qeustion.Num </h2>
<pre style="padding-left:20px"> @Qeustion.Value </pre><br />
   <div style="padding-left: 20px;">
      @foreach (var item in Qeustion.Answers) {
         <label for="@item.ID" class=" @((item.IsCorrect) ? "blue" : "" ) ">	
         <pre class="@((item.IsSelected) ? "checkright":"")">@item.Value </pre> </label>  }
       <br />     <label>    <strong>
   @(Qeustion.Answers.Any(x => x.IsSelected) == true ? Qeustion.IsCorrect ? "CORRECT" : "WRONG" :"Not Answered")
</strong> </label> </div> </div>   <br clear="all" style="page-break-before:always" />}